/* Simple CSS Reset */
body {
  overflow: hidden;
  background-image: url('background.jpg'); /* Add your background image here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Status Board */
#statusBoard {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

/* Start button */
.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  z-index: 10;
}

.start-button:active {
  background-color: #45a049;
}


/* Github */
.github-link {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: black;
  text-decoration: none;
  background-color: white; /* White background */
  padding: 5px; /* Padding for better appearance */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Keyboard */
.keyboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  opacity: 0.4;
  background-color: transparent; /* Đặt nền trong suốt cho div lớn */
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.key {
  flex: 1;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #fff;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.key:active {
  /* background-color: #446E5C; */
  background-color: #1b2c24;
}